<div class="panel panel-primary">
	<div class="panel-heading" ng-click="collapse()">Name: {{user.name}}</div>
	<div class="panel-body" state-display="user.level" ng-hide="collapsed">
		<address></address>

		<h4>Friends</h4>
			<ul>
			  <li ng-repeat="friend in user.friends"> 
			    {{friend}}
			    <remove-friend method="removeFriend(friend)"></remove-friend>

			  </li>
			</ul>
			<div ng-show="!!user.rank">
				Rank: {{user.rank}}
			</div>
			<button ng-show="!user.rank" class="btn btn-success" ng-click="knightMe(user)">Knight Me</button>
			<button class="btn btn-info" ng-click="nextState()">Next state</button>

	</div>
</div>