<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body >
    <!-- <div class="well" ng-controller="simpleCtrl">
      <label>Select a city</label>
      <select ng-options="city for city in cities" ng-model="city"></select>

      <h1>Custom Controllers </h1>
      <p>{{city}} </p>
      <p>{{getCountry()|| "Unknown"}} </p>
    </div>

    <div class="well" ng-controller="simpleCtrl">
        <h4>Billing zip code </h4>
        <div class="form-group">
          <input class="form-control" ng-model="billingZip">
        </div>

        <button class="btn btn-primary" ng-click="setAddress('billingZip',billingZip)">Save Billing</button>

    </div>

    <div class="well" ng-controller="simpleCtrl">
      <h4>Shippping zip code </h4>
      <div class="form-group">
        <input class="form-control" ng-model="shippingZip">
      </div>
      <button class="btn btn-primary" ng-click="copyAddress()">Use Billing</button>
      <button class="btn btn-primary" ng-click="setAddress('shippingZip',shippingZip)">Save Shipping</button>

    </div> -->
    <body ng-controller="topLevelCtrl">

    <div class="well">
        <h4>Top Level Controller</h4>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        ng-click="reverseText()">Reverse</button>
                <button class="btn btn-default" type="button"
                        ng-click="changeCase()">Change Case</button>
            </span>
            <input class="form-control" ng-model="data.dataValue" />
        </div>
    </div>

    <div class="well" ng-controller="firstChildCtrl">
        <h4>First Child Controller</h4>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        ng-click="reverseText()">Reverse</button>
                <button class="btn btn-default" type="button"
                        ng-click="changeCase()">Change Case</button>
            </span>
            <input class="form-control" ng-model="data.dataValue" />
        </div>
    </div>

    <div class="well" ng-controller="secondChildCtrl">
        <h4>Second Child Controller</h4>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        ng-click="reverseText()">Reverse</button>
                <button class="btn btn-default" type="button"
                        ng-click="changeCase()">Change Case</button>
                <button class="btn btn-default" type="button"
                        ng-click="shiftFour()">Shift</button>
            </span>
            <input class="form-control" ng-model="data.dataValue" />
        </div>
    </div>
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>

    <script src="controller.js"></script>

  </body>
</html>
